html{
    background-color:gray;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin:0px;
    width: 98vw;
    height: 98vh;
    flex-direction: column;
}
body{
    background-color: beige;
    display: flex;
    box-sizing: border-box;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    margin: 1vh 1vw 1vh 1vw;
    width: 50%;
    height: 100%;
    border-radius: 10px;
}

.headerPadrao{
    box-sizing: border-box;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 10%;
    box-shadow: 5px 5px 5px 1px black;
    margin-bottom: 10px;
}

.headerPadrao img{
    box-sizing: border-box;
    padding-right: 20%;
}

main{
    display: flex;
    flex-direction: row;
    margin: 1% 0% 1% 0%;
    min-height: 90%;
}

main #entrada{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    min-height: 90%;
}

main #entrada h4{
    margin: 5% 5% 1% 5%;
}

main #entrada label{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    min-height: 5%;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 5px 5px 15px black;
    margin: 0% 5% 0% 5%;
}

main #entrada input{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: auto;
    min-height: 90%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 0px;
}

main #entrada button{
    width: 30%;
    height: auto;
    min-height: 98%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0px;
}

main #entrada ul{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 0px;
}

main #entrada ul li{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0px;
}

main #entrada ul li input{
    box-sizing: border-box;
    display: flex;
    width: 10%;
    height: 5%;
}
main #entrada ul li p{
    box-sizing: border-box;
    display: flex;
    width: 90%;
    height: 5%;
}

main #quadro{
    color: antiquewhite;
    background-color: green;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 96%;
    border: 10px solid rgb(84, 35, 35) ;
    border-radius: 10px;
    margin-right: 10px;
}

main #quadro h4{
    display: flex;
   align-items: center;
   flex-direction: column;
   margin-bottom: 15px;
}

main #quadro ul{
    margin: 0px;
}
