*{
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0px;
}

body{
  background-color: var(--azul);
  height: 100vh;
  /*overflow: hidden;*/
}

main{
display: flex;
justify-content: space-around;
flex: 1;
/*gap: 100px;*/
}

header{
  margin-bottom: 0px;
  box-shadow: 0px 2px 5px 0px var(--preto) ;
  border-radius: 10px;
  width: 100vw;
  height: 10vh;
}

.item{
  color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 57.5%;
}
.sessao-abas{
  width: 15vw;
  height: 87vh;
  /*height: 88vh;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  background-color: var(--branco);
  width: 85vw;
  height: 87vh;
  /*height: 88vh;*/
  display: flex;
  flex-direction: column;
  }

  .content > h2{
    margin: 50px 0px 0px 50px;
  }

  .input{
    display: flex;
    margin:50px 200px 50px 100px;
    width: 55vw;
    height: 5vh;
    }
      .input > label{
        display: flex;
        justify-content: center;
        margin:55px 0px 50px 0px;
        width: 18vw;
        height: 5vh;
      }
      .input > input{
        display: flex;
        justify-content: center;
        background-color:transparent;
        border-radius: 10px;
        margin:50px 10px 50px 0px;
        padding-left: 5px;
        align-items: center;
        width: 25vw;
        height: 3vh;
      }
      .input > button{
        display: flex;
        border-radius: 5px;
        border: 0cm;
        background-color: var(--amarelo);
        color: var(--preto);
        align-items: center;
        justify-content: center;
        margin:52px 0px 50px 0px;
        width: 7vw;
        height: 3vh;
}

p{
  display: flex;
  background-color: var();
  justify-content: center;
  align-items: center;
  color: var(--preto);
  width: 50vw;
  height: 3vh;
}

footer{
  margin-bottom: 0px;
  background-color: var(--verde);
  box-shadow: 0px -2px 5px 0px var(--preto) ;
  width: 85vw;
  height: 3vh;
  dis
}