body{
  background-color: var(--amarelo);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 20px;
}

header{
}

main{
  display: flex;
}

.part1{
  width: 33%;
}

.personage{
  background-color: var(--amarelo);
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 10px;
  width: 100%;
  font-size: larger;
  font-weight: bolder;
}

#nome{
   background-color: var(--amarelo);
  align-items: center;
  justify-content: center;
  display: flex;
  border: 5px double black;
  border-radius: 10px;
  width: 70%;
  padding: 5px 0px 0px 20px;
  font-size: larger;
  font-weight: bolder;
}

#nivel{
   background-color: var(--amarelo);
  align-items: center;
  justify-content: center;
  display: flex;
  border: 5px double black;
  border-radius: 10px;
  width: 20%;
  padding: 5px 0px 0px 20px;
  font-size: larger;
  font-weight: bolder;
}

.padroes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}

#valoresPadrao{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}
#valoresPadrao h3{
  display: flex;
  justify-content: center;
  border: 5px double black;
  border-radius: 10px;
  width: 70%;
  height: 100%;
}

#valorPadrao{
  background-color: var(--amarelo);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  border-radius: 100%;
  border: 5px double black;
  width: 12%;
  height: 100%;
  padding: 5px 0px 15px 10px;
}

.atributos{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 0px double black;
}

.atributo{
  display: flex;
  border-radius: 10px;
}

#pontos{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 5px double black;
  align-items: center;
  width: 35%;
}

#bonus{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 100%;
  border: 5px double black;
  justify-content:center;
  width: 50%;
  height: 25%;
}

#pericias{
  font-size: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-color: black;
  border-top: 3px;
  border-top-style: solid;
  padding: 3px;
  width: 70%;
}

#valorPericia{
  display: inline-block;
  font-weight: bold;
  background-color: var(--amarelo);
  border: 0px;
  border-bottom: 1px solid #111;
  padding: 2px 5px 2px 5px;
  max-width: 40px;
}
